In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\program files (x86)\anaconda3\envs\dsde04\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files (x86)\anaconda3\envs\dsde04\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\program files (x86)\anaconda3\envs\dsde04\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\program files (x86)\anaconda3\envs\dsde04\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\program files (x86)\anaconda3\envs\dsde04\lib\site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in c:\program files (x86)\anaconda3\envs\dsde04\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd

In [9]:
# 로또 1000회차
numbers = [19, 2, 8, 22, 42, 32, 39]
lotto = pd.Series(data=numbers)
lotto

print(lotto.index)
print(type(lotto))
print(type(lotto.index))

print(lotto.values)
print(type(lotto.values))

RangeIndex(start=0, stop=7, step=1)
<class 'pandas.core.series.Series'>
<class 'pandas.core.indexes.range.RangeIndex'>
[19  2  8 22 42 32 39]
<class 'numpy.ndarray'>

In [10]:
random_num = np.random.randint(1, 45, 6)
random_num

array([ 4,  4,  8, 43,  2,  2])

In [13]:
today_lotto = pd.Series(random_num, dtype="float")
today_lotto
# 앞에 숫자 해당 데이터의 인덱스  .Series는 앞에 인덱스를 붙여주고 이게 표가 된다.

0     4.0
1     4.0
2     8.0
3    43.0
4     2.0
5     2.0
dtype: float64

In [14]:
today_lotto.is_unique

False

In [15]:
today_lotto.is_monotonic_increasing

False

In [16]:
nums = pd.Series(range(100, 1001, 100))
nums
# dtype: int64 => 해당 시리즈 데이터 안에 있는 타입(64비트)

0     100
1     200
2     300
3     400
4     500
5     600
6     700
7     800
8     900
9    1000
dtype: int64

In [17]:
nums.head()

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [18]:
nums.head(n=3)
# 3개만 보고 싶어요

0    100
1    200
2    300
dtype: int64

In [19]:
nums.head(2)
# 2개만 보고 싶어요

0    100
1    200
dtype: int64

In [20]:
# 뒤에서 5개  <=> head
nums.tail()

5     600
6     700
7     800
8     900
9    1000
dtype: int64

In [21]:
nums.tail(3)

7     800
8     900
9    1000
dtype: int64

In [22]:
nums.tail(n=2)

8     900
9    1000
dtype: int64

In [23]:
print(nums.count())
print(nums.sum())
# 요소의 갯수, 요소들의 총합

10
5500

In [24]:
nums[1]

200

In [25]:
nums[1] = np.nan
nums
# 위에서 nums[1]를 해서 200이 빠져서 지금 200이 Nan이 된 것

0     100.0
1       NaN
2     300.0
3     400.0
4     500.0
5     600.0
6     700.0
7     800.0
8     900.0
9    1000.0
dtype: float64

In [26]:
print(nums.count())
print(nums.sum())
# 위에서 10/5500이었는데 지금은 200이 빠진 값으로 나온다
# NaN 는 추가가 안되는걸 확인

9
5300.0

In [31]:
print(f"누적합 : |n{nums.cumsum()}")
print(f"평균 : {nums.mean()}")
print(f"중위값 : {nums.median()}")
print(f"표준편차 : {nums.std()}")
print(f"max : {nums.max()} / min : {nums.min()}")
print(f"describe : |n{nums.describe()}")
# 평균 구할 때 nan을 미포함  평균을 나눌 때 숫자가 아닌걸로 나눌 수 없으니까

누적합 : |n0     100.0
1       NaN
2     400.0
3     800.0
4    1300.0
5    1900.0
6    2600.0
7    3400.0
8    4300.0
9    5300.0
dtype: float64
평균 : 588.8888888888889
중위값 : 600.0
표준편차 : 293.4469476943168
max : 1000.0 / min : 100.0
describe : |ncount       9.000000
mean      588.888889
std       293.446948
min       100.000000
25%       400.000000
50%       600.000000
75%       800.000000
max      1000.000000
dtype: float64

In [32]:
nums.sum(skipna=False)
# 이건 nan을 포함한 값인데 만약 nan을 포함해버리면 이는 더이상 숫자가 아니게 되는 것.

nan

In [33]:
num_list = [
    [12, 2, 8, 22, 42, 32, 39],
    [6, 10, 12, 14, 20, 42, 15]
]
lotto_list = pd.Series(num_list, index=["1000회", "1001회"])
lotto_list

1000회     [12, 2, 8, 22, 42, 32, 39]
1001회    [6, 10, 12, 14, 20, 42, 15]
dtype: object

In [35]:
num_dict = {"1000회" : [19, 2, 8, 22, 42, 32, 39],
           "1001회" : [6, 10, 12, 14 ,20, 42, 15]}
lotto_dict = pd.Series(num_dict)
lotto_dict
# Series = index : value 형태로 가능

1000회     [19, 2, 8, 22, 42, 32, 39]
1001회    [6, 10, 12, 14, 20, 42, 15]
dtype: object

In [38]:
heroes = ["CaptainAerica", "Thor", "Hulk", "IronMan", "BlackWidow", "Hawkeye", "Hulk"]
avengers = pd.Series(heroes)
avengers

0    CaptainAerica
1             Thor
2             Hulk
3          IronMan
4       BlackWidow
5          Hawkeye
6             Hulk
dtype: object

In [40]:
avengers.is_unique
# 겹치는 애가 있어서 unique하지 않아

False

In [41]:
avengers.unique()
# 형태가 numpy.ndarray 일 것 같은데?

array(['CaptainAerica', 'Thor', 'Hulk', 'IronMan', 'BlackWidow',
       'Hawkeye'], dtype=object)

In [43]:
# 찍어보자
type(avengers.unique())

numpy.ndarray

In [44]:
avengers.min()
# abc 순서 askll 순서로 정렬

'BlackWidow'

In [45]:
avengers.max()
# abc 순서 askll 순서로 정렬

'Thor'

In [46]:
avengers.sort_values()

4       BlackWidow
0    CaptainAerica
5          Hawkeye
2             Hulk
6             Hulk
3          IronMan
1             Thor
dtype: object

In [47]:
list(avengers)

['CaptainAerica', 'Thor', 'Hulk', 'IronMan', 'BlackWidow', 'Hawkeye', 'Hulk']

In [48]:
dict(avengers)

{0: 'CaptainAerica',
 1: 'Thor',
 2: 'Hulk',
 3: 'IronMan',
 4: 'BlackWidow',
 5: 'Hawkeye',
 6: 'Hulk'}

In [49]:
"Hawkeye" in avengers
# 인덱스가 키 값으로 잡혀있어서 False로 나온다
# 두 개가 하나로 묶여있다가 dict으로 index:value로 만들어졌다.
# 시리즈를 딕셔너리로 바꿀 수도 있다.
# 그러면 값으로 찾는게 아니라 인덱스로 찾는거야
# 인덱스에서 찾을 때 맞는 걸 찾아주는구나
# 그러면 값으로 찾고 싶으면 어떻게 해야할까? ==> 찾아보기

False

In [50]:
5 in avengers

True

In [51]:
series01 = pd.Series([1, 2, 3, 4, 5])
series02 = pd.Series([1, 3, 5, 7, 9])
print(series01)
print(series02)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64

In [52]:
series01+5

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [53]:
series01.add(5)

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [54]:
series01 -5

0   -4
1   -3
2   -2
3   -1
4    0
dtype: int64

In [55]:
series01.sub(5)

0   -4
1   -3
2   -2
3   -1
4    0
dtype: int64

In [56]:
series01.subtract(5)

0   -4
1   -3
2   -2
3   -1
4    0
dtype: int64

In [57]:
series01 == series02
# index별로 비교해서 다시 series로 나온다.
# 닽은 인덱스여야 가능하다.

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [59]:
print(series01 != series02)
print(series01.ne(series02))

0    False
1     True
2     True
3     True
4     True
dtype: bool
0    False
1     True
2     True
3     True
4     True
dtype: bool

In [60]:
series03 = pd.Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "e"])
series04 = pd.Series([6, 7, 8, 9, 10], index=["c", "d", "e", "f", "g"])
print(series03)
print(series04)

a    1
b    2
c    3
d    4
e    5
dtype: int64
c     6
d     7
e     8
f     9
g    10
dtype: int64

In [61]:
series03 + series04
# 왜 이렇게 나올까? => 인덱스끼리 더해주는구나 
# 덧셈도 비교도 인덱스끼리해준다.  
# 이 때 같은 인덱스끼리 하고 그렇지 않은 인덱스는 NaN으로 치환한다.

a     NaN
b     NaN
c     9.0
d    11.0
e    13.0
f     NaN
g     NaN
dtype: float64