In [1]:
import pandas as pd
import numpy as np

In [2]:
array1=np.array([1, 2, 3])
print(type(array1))

<class 'numpy.ndarray'>

In [3]:
print(array1.shape)
# 1차원 array 3개

(3,)

In [5]:
# -------

In [6]:
array2=np.array([[1, 2, 3],[2, 3, 4]])

In [7]:
array2=np.array([[1, 2, 3],[2, 3, 4]])
print(type(array2))

<class 'numpy.ndarray'>

In [8]:
print(array2.shape)
# 2차원 array  2행(row)3열(column) 
# 2*3=6 총 6개의 데이터를 가지고 있음

(2, 3)

In [9]:
# ---------

In [10]:
array3=np.array([[1, 2, 3]])

In [11]:
array3=np.array([[1, 2, 3]])
print(type(array3))

<class 'numpy.ndarray'>

In [12]:
print(array3.shape)
#  [[]] 2차원 데이터
# 1행 3열  1*3=3 총 3개의 데이터를 가지고 있음
# 1차원일 땐 (3,) 같은 데이터 건수여도 이렇게 표시 안해줬는데 2차원에선 (1, 3) 이렇게 표현해줬다.

(1, 3)

In [13]:
# ----차원 알아보기

In [14]:
print('array1:{0}차원, array2:{1}차원, array3:{2}차원'.format(array1.ndim, array2.ndim, array3.ndim))

array1:1차원, array2:2차원, array3:2차원

In [15]:
print(array1.ndim,"차원")
print(array2.ndim,"차원")
print(array3.ndim,"차원")

1 차원
2 차원
2 차원

In [16]:
array_int = np.array([1, 2, 3])
array_float = array_int.astype('float64')
print(array_float, array_float.dtype)

[1. 2. 3.] float64

In [24]:
sequence_array = np.arange(10)
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)
# int32 (10,)  1차원에 10개의 값이 있다.

[0 1 2 3 4 5 6 7 8 9]
int32 (10,)

In [25]:
zero_array = np.zeros((3, 2)), dtype = 'int32'
print(zero_array)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3494806358.py, line 1)