In [4]:
a=1
b=2
c=3

In [2]:
a

1

In [5]:
a+b+c

6

# markdown cell

명렁어 

enter : edit mode

esc : commend mode

**edie mode**

ctrl + enter : 실행

shift + enter : 실행 및 다음 cell

alt + enter : 실행 및 새로운 cell

**commend mode**

a : 위에 cell 추가

b : 아래에 cell 추가

y : code cell로 변경

m : markdown cell로 변경

! : shell 명령어 사용 (cmd 이야기 하는 것)

% : magic function 사용(!와 비슷하지만, python 명령어이다.)

In [6]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [7]:
!pip install nunpy

ERROR: Could not find a version that satisfies the requirement nunpy (from versions: none)
ERROR: No matching distribution found for nunpy

In [8]:
!pip install numpy

Collecting numpy
  Using cached numpy-1.25.0-cp310-cp310-win_amd64.whl (15.0 MB)
Installing collected packages: numpy
Successfully installed numpy-1.25.0

In [9]:
%pip install numpy

Requirement already satisfied: numpy in c:\program files (x86)\anaconda3\envs\dsde04\lib\site-packages (1.25.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import numpy as np

In [11]:
np.__version__

'1.25.0'

In [12]:
# tab 자동완성  
#  shift tab : 설명
np.array

In [13]:
arr01 = np.array([1, 2, 3, 4, 5])
arr01

array([1, 2, 3, 4, 5])

In [14]:
type(arr01)

numpy.ndarray

In [15]:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [16]:
arr02=[[1.1, 2.2, 3.3], [4, 5, 6]]
arr02

[[1.1, 2.2, 3.3], [4, 5, 6]]

In [17]:
# 2행 3열 행렬변환
arr02 = np.array(arr02)
arr02
# 결과를 보면 정수가 실수로 바뀐것을 볼 수 있다. 모든 요소의 타입이 같아지는 것

array([[1.1, 2.2, 3.3],
       [4. , 5. , 6. ]])

In [18]:
# 우리가 만든걸 ndarray 타입으로 바꿨더니 행렬로 변환이 잘 되었다. 2행3열로
arr02.shape

(2, 3)

In [19]:
#  str과 int가 있으면 에러가 날까?
arr03 = [
            [["1"], [2], [3]],
            [[4], [5], [6]],
            [[7], [8], [9]],
            [[10], [11], [12]]
        ]
arr03

[[['1'], [2], [3]], [[4], [5], [6]], [[7], [8], [9]], [[10], [11], [12]]]

In [20]:
arr03 = np.array(arr03)
arr03
# 커다란거 안에 4개씩 있고 그 안에 각각 3개씩 있는데 그 안에는 1개씩 있더라  4, 3, 1

array([[['1'],
        ['2'],
        ['3']],

       [['4'],
        ['5'],
        ['6']],

       [['7'],
        ['8'],
        ['9']],

       [['10'],
        ['11'],
        ['12']]], dtype='<U11')

In [21]:
arr03.shape
# 커다란거 안에 4개씩 있고 그 안에 각각 3개씩 있는데 [대괄호] 리스트 안에는 1개씩 있더라  4, 3, 1
# dtype='<U11' 문자열   출력하면 문자열인데 (정수 + 문자열)형태라는 의미입니다.  자세한건 더 찾아보기
# 우선순위 : 문자열>숫자>논리

(4, 3, 1)

In [23]:
print(arr01.ndim)
print(arr02.ndim)
print(arr03.ndim)
# 3차원이어서 3이라고 뜨는 것
# [] = 1차원,  [[]] = 2차원, [[[]]] = 3차원

1
2
3

In [26]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [27]:
arr01.size
arr02.size
arr03.size

5

6

12

In [28]:
# 행렬생성  python의 range처럼 쓰는데 반환 값이 ndarray(행렬)
np.arange(3)

array([0, 1, 2])

In [29]:
type(np.arange(3))

numpy.ndarray

In [30]:
np.arange(1, 11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [31]:
np.arange(0, 11, 2)

array([ 0,  2,  4,  6,  8, 10])

In [33]:
arr04 = np.arange(0, 11, 2)
arr01
type(arr04)

array([1, 2, 3, 4, 5])

numpy.ndarray

In [34]:
# 1행 6열인데 그냥 (6,)로 표기한다. 1행은 표기 안함. array([ 0,  2,  4,  6,  8, 10])
arr04.shape

(6,)

In [35]:
# reshape(행, 열)  shape모양을 바꿔줄거야 입력한대로.
arr04 = arr04.reshape(2, 3)
arr04

array([[ 0,  2,  4],
       [ 6,  8, 10]])

In [36]:
arr04.shape

(2, 3)

In [38]:
arr05 = np.arange(100)
arr05
arr05.shape
type(arr05)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

(100,)

numpy.ndarray

In [40]:
# 2행, -1: numpy가 알아서 추록!    열은 특별히 작성x 네가 알아서 써줘
arr05 = arr05.reshape(2, -1)
arr05
arr05.shape

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
        48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65,
        66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98, 99]])

(2, 50)

In [41]:
arr05.reshape(3, -1) 
#ValueError: cannot reshape array of size 100 into shape (3,newaxis)
# 100을 3으로 나눌 수 없어요

ValueError: cannot reshape array of size 100 into shape (3,newaxis)

In [44]:
# 5개씩 자른다.
arr05 = arr05.reshape(2, -1, 5)
arr05

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]],

       [[50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69],
        [70, 71, 72, 73, 74],
        [75, 76, 77, 78, 79],
        [80, 81, 82, 83, 84],
        [85, 86, 87, 88, 89],
        [90, 91, 92, 93, 94],
        [95, 96, 97, 98, 99]]])

In [45]:
arr05.shape
arr05.ndim

(2, 10, 5)

3

In [46]:
np.arange(10).reshape(2,-1, 1)
# [
#      [[0][1][2][3][4]]
#      []
#]

array([[[0],
        [1],
        [2],
        [3],
        [4]],

       [[5],
        [6],
        [7],
        [8],
        [9]]])

In [49]:
arr06 = np.zeros(5)
arr07=np.ones(10)
arr08 = np.empty(5)
# empty 비어있는 행렬을 만들어주세요~ 
# 근데 출력하니 비어있지 않은데요?  => 원래 메모리에 쓰여져 있던 쓰레기 값을 가지고 온 것

In [50]:
arr06
arr07
arr08

array([0., 0., 0., 0., 0.])

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

array([2.12199579e-314, 1.14799972e-311, 1.18575755e-322, 1.14799972e-311,
       3.56175136e-317])

In [51]:
np.linspace(0, 10, num=5)
# 5개의 균등한 간격을 가지는 숫자를 만들어준다. 일정한 간격
#  0~10까지 일정한 간격 5개를 만들어줘

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [52]:
np.full((2, 3),1)
# 튜플 형태의 shape을 준 것

array([[1, 1, 1],
       [1, 1, 1]])

In [53]:
# 단위 행렬 (행렬 곱 항등원)  항등원 = (곱하기 했을 때 항상 내가 나오는 것 1*1, 3*1)
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [54]:
# 0 <=   <1
np.random.random()
# 0 <=   <1 값을 5개
np.random.random(5)
# (2,3) 튜플형태로
np.random.random((2, 3))

0.9220415436433014

array([0.51909579, 0.05179787, 0.00682176, 0.82771472, 0.07949156])

array([[0.51628947, 0.42496311, 0.0671278 ],
       [0.47298608, 0.96464199, 0.23358123]])

In [55]:
# 랜덤하게 값을 뽑을건데 1로 고정하고 실행할거야
# seed 1 일때는 이렇게 랜덤하게 나와라~ 하고 고정해서 값이 같은 것. 다른 사람들이 입력을 해도 같은 값이 나온다.
# 시드 고정하는거 같은 셀만 적용
np.random.seed(1)
np.random.randint(0, 10, (2, 3))

array([[5, 8, 9],
       [5, 0, 0]])

In [56]:
# 표준 정규분포에 따라서 랜덤하게 가져오는게 random.randn()
np.random.randn(5)
np.random.randn(2, 3)

array([-1.601721  , -1.47782957,  0.48349585,  0.18843661, -0.46468632])

array([[ 0.86182712, -2.65426198,  1.15226492],
       [ 0.19664341, -1.54521415, -0.08810409]])

In [57]:
np.arange(100)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [58]:
#  타입이 실수형이다.
np.arange(100, dtype=float)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
       65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77.,
       78., 79., 80., 81., 82., 83., 84., 85., 86., 87., 88., 89., 90.,
       91., 92., 93., 94., 95., 96., 97., 98., 99.])